/* ----- CSS RESET ----- */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* ----- Universial ----- */

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden !important;
}

.pgwdth {
  max-width: 980px;
  margin: auto;
  text-align: center;
}


a {
  text-decoration: none;
  color: inherit;

}

h1, h2, h3, .nav-bar {

  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.dropdown-content {
  display: none;
}

li {
  list-style: none;
}

section {
  padding: 10vh 5%;
}

.padded {
  padding: 3%;
}

.horiz-padded {
  padding-left: 3%;
  padding-right: 3%;
}

.no-padding {
  padding: 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.small-h2 {
  /* makes text smaller */
  font-size: 1.2rem;
}


p a {
  /* Links inside paragraphs */
  border-bottom: 1px solid rgb(60,60,60);
}

.border-top {
  border-bottom: 1px solid rgb(240,240,240);
}

/* ----- Masonry ----- */

.grid-item {
  width: 300px;
  margin-bottom: 10px;
  height: 194px;
  display: inline-block;
  vertical-align: top;
}

.grid-item-tall {
    height: 600px;

}

/* ----- Header ----- */
header {
  padding: 5vh 5%;
  border-bottom: 1px solid rgb(240,240,240);
}


header nav a {
  padding: 0.5em;
  letter-spacing: 2px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

/* ----- Main ----- */

.main {
  min-height: 100vh;
  background-image: url("../images/web-banner-eon.png");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.main .title-area {
  padding: 100px 0 0;
}

h1.logo  {
  letter-spacing: 9px;
  font-size: 1.6rem;
  display: inline-block;
  margin: 0;
}

.nav-bar {
  margin: 2rem auto;
}

.nav-bar a {
  display: inline-block;
  padding: 0.8rem;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.main .headline h2{
  display: inline-block;
  padding: 11px 33px;
  border: 2px solid white;
  letter-spacing: 3px;
  font-size: 1.2rem;
}

.down-arrow {
    position: absolute;
    bottom: 30px;
    padding: 10px;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
}
.down-arrow img {
  width: 30px;
}

/* ----- Portfolio ----- */

.portfolio-buttons {
  padding-top: 50px;
  display: inline-block;
  margin: auto;
  margin-bottom: 0;
}

.portfolio-buttons ul {
  margin-bottom: 0;
}

ul#filter {
  float: left;
  list-style: none;
  margin-left: 0;
  width: 100%;
}

ul#filter li {
  float: left;
  line-height: 16px;
  margin-right: 10px;
  padding-right: 10px;
}


.portfolio button {
  border: 2px solid #333;
  border-radius: 0;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
}

.portfolio button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

.portfolio .current button {
  background-color: rgba(237, 244, 244, 1);
}


/* Portfolio page */

.portfolio-images {
    margin-top: 10vh;
}
/* ----- About ----- */

.about {
  background-color: rgba(250, 250, 250, 1);
}

.about p {
  text-transform: none;
}

/* FIX */


/* ----- IGFeed ----- */

.igfeed {
  min-height: 25vh;
}

/* ----- Contact ----- */
/*
.contact {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 10px;
}


.contact-form {
  padding-top: 50px;
}*/

.contact-form {
  margin-top: 2rem;
}

.contact-form .form-element {
  width: 100%;
}

.contact-form .form-comments {
  min-height:150px;
}

.contact-form input {
    border: 2px solid rgb(60,60,60);
    border-radius: 0;
}

form [class*=col-] {
  padding-top: 0;
  padding-bottom: 0;
}


/* ----- Up-Arrow Footer ----- */
.footer-div {
  position: fixed;
  min-height: 10vh;
  bottom: 0;
  right: 0;
}

.footer-div  a {
  display: inline-block;
  padding: 0;
  margin: 0.1rem 2rem;
}
.footer-div .up-arrow {
  width: 30px;
}

.mob-show {
  display: none;
}
/* ----- Footer ----- */
footer {
  padding: 3vh 5%;
  text-align:center;
}
nav.social a  {
    padding: 0.5rem;
    display: inline-block;
}

nav.social a img {
    width: 1.5rem;
}

/* ---------- Resolution Styles ----------*/

/* ------ Large Tablet Styles ------ */

@media screen and (max-width:900px) {

  .mob-show {
    display: block;
  }

}

/* ------ Small Tablet Styles ------ */

@media screen and (max-width:768px) {

  .mob-hide {
    display:none!important;
  }
  .mob-reverse {
    flex-direction: row-reverse;
  }

  }

/* -------- Phone Styles -------- */

@media screen and (max-width:450px) {

}
