---
title: Eyes of a Nomad
layout: default

---
{% include header.html %}
<section class="blog">
    {% for post in site.posts %}
    <article> <!-- Blog Excert -->
        <a class="grid blog-snippet" href="{{ post.url }}">
          <div class="col-2_sm-0_xs-0 right horiz-padded">
              <span class="info date"> {{post.date | date: "%-d %B" }} </span>
          </div>
          <div class="col-5_sm-6_xs-12" style="background-position:center;background-image:url('{{post.image_path}}')">
                  <!-- <svg class="arrow-right right" x="0px" y="0px"
  	 viewBox="0 0 100 600" enable-background="new 0 0 100 600">
          <polygon class="white" points="100,600 100,0 0,0 78,300 0,600"/>
  </svg> -->
          </div>
          <div class="col-5_sm-6_xs-12 horiz-padded">
              <h3 class="three-lines"> {{ post.title }}</h3>
              <h4 class="small-heading"> <i class="fa fa-map-marker" aria-hidden="true"></i>  {{post.location}} </h4>
              <p class="three-lines"> {{post.description}} </p>
          </div>
        </a>
    </article>
    {% endfor %}
</section>
