---
layout: default
title: Eyes of a Nomad | Emilio Kuzma-Floyd
---

<section class="main" id="main">
  <div class="title-area pgwdth">
    <h1>Eyes of a Nomad</h1>
  </div><!-- closes title-area -->
  <div class="nav-bar pgwdth">
    <ul>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div><!-- closes nav-bar -->
  <div class="headline pgwdth">
    <h2>Photography From around the world</h2>
  </div><!-- closes the headline div -->
</section><!-- closes the main section -->

<section id="portfolio"></section><!-- id for pre-portfolio -->

<section class="portfolio">
  <div class="portfolio-div pgwdth">
    <div class="portfolio-headings">
      <h2>Portfolio</h2>
      <h3>A collection of images i've taken from my adventures around the world.</h3>
    </div><!-- closes the porfolio-headings div -->
    <div class="portfolio-buttons">
      <ul id="filter">
        <li class="current"><a class="button" href="">All</a></li>
        <!--<li><a class="button" href="">Animals</a></li>-->
        <li><a class="button" href="">Landscape</a></li>
        <li><a class="button" href="">Portrait</a></li>
      </ul>
    </div><!-- closes portfolio-buttons -->

    <div class="portfolio-images pgwdth">
      <ul id="portfolio">
          {% for pic in site.photo %}
            <li class="grid-item {% for item in pic.class %} {{item}} {% endfor %}">
              <a href="{{pic.image_path}}" data-lightbox="image-1" data-title="{{pic.caption}}"><img src="{{pic.image_path}}" /></a>
            </li>
          {% endfor %}


        <!--  <img src="images/coast-tall2.jpg" />-->
        <!--  <img src="images/girl-tall.jpg" />-->
        <!--  <img src="images/sandals-tall.jpg" />-->
        <!--  <img src="images/seagull-square.jpg" />-->
        <!--  <img src="images/sealions-tall.jpg" />-->
        <!--  <img src="images/shells.jpg" />-->
        <!--  <img src="images/surfing-tall.jpg" />-->
        <!--</li>-->
        <!--</li>-->
        <!--</li>-->
        <!--</li>-->
        <!--</li>-->
        <!--</li>-->
        <!--</li>-->
        <!--</li>-->
        <!--<li class="grid-item animals">-->
        <!--<li class="grid-item else">-->
        <!--<li class="grid-item landscape">-->
        <!--<li class="grid-item portrait animals">-->
        <!--<li class="grid-item portrait">-->
        <!--<li class="grid-item portrait">-->
        <!--<li class="grid-item portrait">-->
        <!--<li class="grid-item portrait">-->
      </ul>
    </div><!-- closes the portfolio-images div -->
  </div><!-- closes portfolio-div -->
</section><!-- closes the portfolio section -->

<section id="about"></section><!-- id for pre-about -->

<section class="about editable">
  <div class="about-div pgwdth">
    <h2>THE STORY OF A SIMPLE NOMAD</h2>
    <h3>A entrepreneur, a traveller, an amateur photography - with a love for adventure in this big wide world</h3>
    <p>Photography has always been an interest in my life, starting when I was a toddler and would grab my father’s camera, emptying his entire roll of film aimlessly in a few short minutes. But it wasn’t until I began to travel the world that my love for capturing a fraction of a second, something breathtakingly beautiful or a little crazy became an obsession. I would never classify myself as a "photographer” but more as someone who simply wants to capture the beauty of the ever-changing world for others to see.</p>
    <span class="dropdown-section"><button class="about-button">Read More</button>
      <div class="dropdown-content">
        <p>The first time I solo-traveled was at the ripe age of 12, crossing the Australian border to visit a friend on the island nation of Fiji. With my disposable camera in hand, I snapped as many photos as I possibly could. It was a gigantic adventure and sparked my desire to travel as much as my life, and piggy bank, would allow. And, I haven’t let go of my camera since.</p>
        <p>My travels have brought me to 22 countries, introduced me to amazing people and even inspired me to co-found an international business <a href="http://www.instituteofcode.com/"> (The Instutute of Code)</a>, based in the beautiful country of Bali. You will inevitably see a lot of photos from this incredible island as I explore more of it and begin to call it my second home.</p>
    </span>
  </div><!-- closes about-div -->
</section><!-- closes the about section -->

<section id="igfeed"></section><!-- id for pre-igfeed -->

<section class="igfeed">
  <div class="igfeed-div">
<!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/3391d1fac62c5c489be9da74ab9aaea9.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  </div><!-- closes igfeed-div -->
</section><!-- closes the igfeed section -->

<section id="contact"></section><!-- id for pre-contact -->
