---
layout: default
title: Eyes of a Nomad | Emilio Kuzma-Floyd
---

<section class="main">
  <div class="title-area pgwdth">
    <h1 class="logo">Eyes of a Nomad</h1>
  </div><!-- closes title-area -->
  <nav class="nav-bar pgwdth">
      <a href="/index.html">Home</a>
      <a href="/about.html">About</a>
      <a href="/portfolio.html">Portfolio</a>
      <a href="/blog.html">Blog</a>
      <a href="/work-with-me.html">Work with Me</a>
      <a href="#contact">Contact</a>
  </nav>
</header>
  </div><!-- closes nav-bar -->
  <div class="headline pgwdth">
    <h2>Photography From around the world</h2>
  </div><!-- closes the headline div -->
</section><!-- closes the main section -->


<section class="portfolio" id="portfolio">
  <div class="portfolio-div pgwdth">
    <div class="portfolio-headings">
      <h2>Portfolio</h2>
      <h3>A collection of images i've taken from my adventures around the world.</h3>
    </div><!-- closes the porfolio-headings div hello -->
    <!-- <div class="portfolio-buttons">
      <ul id="filter">
        <li class="current"><a class="button" href="">All</a></li>
        <!--<li><a class="button" href="">Animals</a></li>
        <li><a class="button" href="">Landscape</a></li>
        <li><a class="button" href="">Portrait</a></li>
      </ul>
    </div> closes portfolio-buttons -->

    <div class="portfolio-images pgwdth">
      <ul id="portfolio">
          {% for pic in site.photo %}
            <li class="grid-item {% for item in pic.class %} {{item}} {% endfor %}">
              <a href="{{pic.image_path}}" data-lightbox="image-1" data-title="{{pic.caption}}"><img src="{{pic.image_path}}" /></a>
            </li>
          {% endfor %}
      </ul>
    </div><!-- closes the portfolio-images div -->
  </div><!-- closes portfolio-div -->
</section><!-- closes the portfolio section -->


<section class="about editable" id="about">
  <div class="about-div pgwdth">
    <h2>THE STORY OF A SIMPLE NOMAD</h2>
    <h3>A entrepreneur, a traveller, a photographer - with a love for adventure in this big wide world</h3>
    <p>Photography has always been an passion in my life, starting when I was a toddler and would grab my father’s camera, emptying his entire roll of film aimlessly in a few short minutes. But it wasn’t until I began to travel the world that my love for capturing a fraction of a second, something breathtakingly beautiful or a little crazy became an obsession. I would never classify myself as a "photographer” but more as someone who simply wants to capture the beauty of the ever-changing world for others to see.</p>
    <a class="button" href="/about.html">Read More</a>
  </div><!-- closes about-div -->
</section><!-- closes the about section -->
