---
layout: default
title: Eyes of a Nomad | Emilio Kuzma-Floyd
contact: true
banner_image: /images/uma/uma-leopold-campaign-1.jpg
banner-mobile_image: /images/uma/uma-leopold-campaign-1.jpg
banner-text_color: white
---

<style>
  .main {
    background-image: url({{page.banner_image}});
  }

  @media(max-width:767px) {
    .main {
      background-image: url({{page.banner-mobile_image}});
    }
  }

  .main *,
  .hamburger {
    color: {{page.banner-text_color}};
  }

</style>

<section class="main">
  <div class="title-area pgwdth">
    <a href="/index">
      <h1 class="logo">Eyes of a Nomad</h1>
    </a>
  </div><!-- closes title-area -->
  <nav class="nav-bar pgwdth mob-hide">
      <a href="/index.html">Home</a>
      <a href="/portfolio.html">Portfolio</a>
      <!--<a href="/blog.html">Blog</a>-->
      <a href="/work-with-me.html">Work with Me</a>
      <a href="#contact">Contact</a>
  </nav>
  <a class="down-arrow" href="#projects"> <img src="/images/icons/008-arrows-1.svg" alt="down-arrow"></a>
</section>

<section id="projects">
  <h2 class="center"> Featured Projects </h2>
  <hr>
  <div class="portfolio-images left">
  <div id="new-portfolio">

    {% assign counter = 0 %}
    {% for project in site.projects reversed %}
    {% if counter < 4 and project.categories contains 'featured' %}

      {% include project-item.html %}
      {% assign counter = counter | plus: 1 %}

    {% endif %}
    {% endfor %}

  </div>
</div> <!-- closes the portfolio-images div -->
</section>

<section class="about editable" id="about">
  <div class="about-div pgwdth">
    <h2>THE STORY OF A SIMPLE NOMAD</h2>
    <hr>
    <h3>Photographer | Storyteller | Entrepreneur </h3>
    <p/>I'm Emilio, aka Eyes of a Nomad. Photography has always been a passion in my life, starting when I was a toddler, grabbing my father’s camera, emptying his entire roll of film aimlessly in a few short minutes and loving every minute of it. However, it wasn’t until I began to travel the world that my love for capturing a fraction of a second, something breathtakingly beautiful or a little crazy became an obsession. </p>
    <p> I'm a content creator from Melbourne Australia currently living the dream in Bali, Indonesia. I love helping brands capture the essence of their personality and really telling a story through my work. </p>
    <p> I split my time between travelling the world, doing photography & videography for brands, and teaching the next generation of content creators through my  school <a href="http://www.instituteofcode.com/courses/social-media" target="_blank">the Institute of Code </a>. <p/>

    <a class="button" href="/work-with-me">Work With Me</a>
  </div><!-- closes about-div -->
</section><!-- closes the about section -->

<!--<section class="blog" id="blog">-->
<!--  <h2 class="center"> Latest Blog Posts </h2>-->
<!--  <hr>-->
<!--    {% for post in site.posts  limit:3 %}-->
<!--    <article> <!-- Blog Excert -->
<!--        <a class="grid blog-snippet" href="{{ post.url }}">-->
<!--          <div class="col-2_sm-0_xs-0 right horiz-padded">-->
<!--              <span class="info date"> {{post.date | date: "%-d %B" }} </span>-->
<!--          </div>-->
<!--          <div class="col-5_sm-6_xs-12" style="background-position:center;background-image:url('{{post.image_path}}')">-->
                  <!-- <svg class="arrow-right right" x="0px" y="0px"
<!--  	 viewBox="0 0 100 600" enable-background="new 0 0 100 600">-->
<!--          <polygon class="white" points="100,600 100,0 0,0 78,300 0,600"/>-->
<!--  </svg> -->
<!--          </div>-->
<!--          <div class="col-5_sm-6_xs-12 horiz-padded">-->
<!--              <h3 class="three-lines"> {{ post.title }}</h3>-->
<!--              <h4 class="small-heading"> <i class="fa fa-map-marker" aria-hidden="true"></i>  {{post.location}} </h4>-->
<!--              <p class="three-lines"> {{post.description}} </p>-->
<!--          </div>-->
<!--        </a>-->
<!--    </article>-->
<!--    {% endfor %}-->
<!--</section>-->
