---
layout: default
title: Extended Portfolio | Eyes of a Nomad
---

{% include header.html %}

<section class="portfolio center">
    <h2>Portfolio</h2>
    <h3>A collection of projects I've worked on recently.</h3>

    {% for category in site.project-categories %}
      <a href="/project_archives/{{category | slugify}}" class="tag"> {{category}}</a>
    {% endfor %}

    <div class="portfolio-images left">
      <div id="new-portfolio">
        {% assign sorted_projects = site.projects | sort: 'number' | reverse %}

          {% for project in sorted_projects limit:15 %}

          <a href="{{project.url}}"> {{project.title}} </a>

          {% endfor %}
      </div>
    </div> <!-- closes the portfolio-images div -->
</section> <!-- closes the portfolio section -->
