---
layout: default
title: Work with me | Eyes of a Nomad
contact: false
---

{% include header.html %}

<section class="grid">
  <div class="col-6_sm-12 horiz-padded" id="contact">
    <h1> Work with me </h1>
    <p> I'm always interested in collaborations, partnerships, and opportunities whether travel or photography/videography related. I've got all my own professional equipment, including a Canon 5D MkIV with a range of high-end professional lenses, a GoPro 4 Hero Black with 3-axis electronic stabilizer and Mavic Pro drone, among other things. Photography is my passion, and I do it because I love it! As a result, I take enormous pride in my work, so let me know what you are looking for, and hopefully we can make some incredible photos together!</p>
    {% include contact-form.html %}
  </div>
  <div class="col-6_sm-12">
    <img src="/images/about/cali.jpg">
  </div>
</section>

<section>
  <h2 class="center"> Projects I've worked on </h2>
  <div class="portfolio-images left">
  <div id="new-portfolio">
      {% for project in site.projects %}
        <div class="portfolio-item {% for item in project.category %} {{item}} {% endfor %}">
          <a href="{{project.url}}" class="grid">
                <div class="col-3 horiz-padded ">
                  <h3> No. {{project.number}} </h3>
                  <h4 class="uppercase"> {{project.title}} </h4>
                  {% for category in project.categories %} <span class="tag"> {{category}}</span> {% endfor %}
                </div>
                <div class="col-6 no-padding">
                  <div class="big-image" style="background-image:url('{{project.image1_path}}');"></div>
                </div>
                <div class="col-3 no-padding">
                  <div class="sm-image" style="background-image:url('{{project.image2_path}}');"></div>
                  <div class="sm-image" style="background-image:url('{{project.image3_path}}');"></div>
                </div>
          </a>
        </div>
      {% endfor %}
  </div>
</div> <!-- closes the portfolio-images div -->
</section> <!-- closes the portfolio section -->
