<div class="contact-div">
  <form class="contact-form grid" action="https://formspree.io/kuzma.floyd@gmail.com" method="post">
        <div class="col-4_sm-12">
          <input class="form-element" type="text" name="your-name" placeholder="NAME" required>
        </div>
        <div class="col-4_sm-12">
          <input class="form-element" type="email" name="your-email" placeholder="EMAIL" required>
        </div>
        <div class="col-4_sm-12">
          <input class="form-element" type="text" name="your-subject" placeholder="SUBJECT" required>
        </div>
        <div class="col-12">
          <input class="form-element form-comments" type="text" name="your-message" placeholder="MESSAGE" required>
        </div>
        <div class="col-12">
          <input class="form-element" type="submit" value="Submit">
      </div>
  </form>
</div><!-- closes contact-div -->
