---
layout: default
comments: false
contact: false
gallery:
  - image_path: /images/coast-tall2.jpg
    name:
  - image_path: /images/coast-tall2.jpg
    name:
  - image_path: /images/coast-tall2.jpg
    name:
  - image_path: /images/coast-tall2.jpg
    name:
  - image_path: /images/coast-tall2.jpg
    name:
  - image_path: /images/coast-tall2.jpg
    name:
---

{% include header.html %}

<section class="portfolio">
    <div class="padded editable">
      <h1 class="center">Hotel &amp; Villa Photography</h1>
      <p>Hi there! My name is Emile and I am a professional photographer based in Bali, Indonesia. I have been lucky enough to shoot hotels and villas in some incredible countries such as Morocco, Japan and Bali, plus a luxury Live Aboard Boat.&nbsp;</p>
      <p>I am able to provide professional images that showcase your venue.&nbsp;</p>
    </div>
    <div class="grid">
      {% for item in page.gallery %}
      <div class="col-4">
        <div class="bg-image landscape" style="background-image:url({{item.image_path}})"> </div>
      </div>
      {% endfor %}
    </div>
    <div class="padded editable">
      <p> Hotel & Villa photography packages in Bali start at $_____ USD for a 2 hour shoot with X images, and goes up from there. For an exact quote send an enquiry below. </p>
      <p> Have a luxury villa or hotel elsewhere in the world? Reach out and let's discuss. </p>
    </div>
    <div class="padded center pgwdth">
      <h2> Let's talk </h2>
      {% include contact-form.html %}
    </div>



    <div class="portfolio-images left">
      <h2 class="center"> Latest Restaurant & Cafe Projects </h2>
      <div id="new-portfolio">
          {% for project in site.projects reversed %}
          {% if project.categories contains 'restaurant & cafe' %}

            {% include project-item.html %}

          {% endif %}
          {% endfor %}
      </div>
    </div> <!-- closes the portfolio-images div -->
</section> <!-- closes the portfolio section -->
