---
layout: default
comments: false
contact: false
gallery:
  - image_path: /images/services/food/eonport-41795.jpg
    name:
  - image_path: /images/services/food/eonport-45095.jpg
    name:
  - image_path: /images/services/food/eonport-45263.jpg
    name:
  - image_path: /images/services/food/eonport-43039.jpg
    name:
  - image_path: /images/services/food/eonport-45210.jpg
    name:
  - image_path: /images/services/food/eonport-8147.jpg
    name:
  - image_path: /images/services/food/eonport-7420.jpg
    name:
  - image_path: /images/services/food/eonport-41535.jpg
    name:
  - image_path: /images/services/food/eonport-43722.jpg
    name:
  - image_path: /images/services/food/eonport-46372.jpg
    name:
  - image_path: /images/services/food/eonport-43771.jpg
    name:
  - image_path: /images/services/food/eonport-42929.jpg
    name:
---

{% include header.html %}

<section class="portfolio">
    <div class="padded editable">
      <h1 class="center">Cafe &amp; restaurant<br />&nbsp;Photography</h1>
      <p>I've worked with restaurants and cafes around the world to capture not only the food, but also the atmosphere, venue and experience. For each venue, I work to tell a cohesive story as well as a consistent aesthetic though each image -- whether thats playful and fun, or sophisticated elegance.</p>
    </div>
    <div class="grid">
      {% for item in page.gallery limit:3 %}
      <div class="col-4">
        <div class="bg-image" style="background-image:url({{item.image_path}})"> </div>
      </div>
      {% endfor %}
      {% for item in page.gallery limit:3 offset:3 %}
      <div class="col-4">
        <div class="bg-image landscape" style="background-image:url({{item.image_path}})"> </div>
      </div>
      {% endfor %}
      {% for item in page.gallery  limit:3 offset:6 %}
      <div class="col-4">
        <div class="bg-image" style="background-image:url({{item.image_path}})"> </div>
      </div>
      {% endfor %}
      {% for item in page.gallery  limit:3 offset:9 %}
      <div class="col-4">
        <div class="bg-image landscape" style="background-image:url({{item.image_path}})"> </div>
      </div>
      {% endfor %}
    </div>
    <div class="padded editable">
      <p>I offer both one-off packages for venue, food and lifestyle photography as well as monthly content creation packages. I have packages starting from as little $250 USD to suit every budget and can customise packages to suit your needs.&nbsp;</p>
      <p>I also offer social media management, where I work with you to create a consistent aesthetic for your social media profiles and then handle everything from the styling, photography, editing, curating the feed, writing engaging hashtags, and strategic use of hashtags and location tags.</p>
      <p>Here are some examples of past work, as well as mockups of instagram feeds provided to past clients.&nbsp;</p>
    </div>
    <div class="padded center pgwdth">
      <h2> Let's talk </h2>
      {% include contact-form.html %}
    </div>



    <div class="portfolio-images left">
      <h2 class="center"> Latest Restaurant & Cafe Projects </h2>
      <div id="new-portfolio">
          {% for project in site.projects reversed %}
          {% if project.categories contains 'restaurant & cafe' %}

            {% include project-item.html %}

          {% endif %}
          {% endfor %}
      </div>
    </div> <!-- closes the portfolio-images div -->
</section> <!-- closes the portfolio section -->
