---
layout: default
title: Product Projects | Eyes of a Nomad
categories:
 - product
---

{% include header.html %}

<section class="portfolio center">
    <h2>Product Portfolio</h2>

    <div class="portfolio-images left">
      <div id="new-portfolio">
          {% for project in site.projects reversed %}
          {% if project.categories contains 'product' %}

            {% include project-item.html %}

          {% endif %}
          {% endfor %}
      </div>
    </div> <!-- closes the portfolio-images div -->
</section> <!-- closes the portfolio section -->
