---
title: Eyes of a Nomad
layout: default
---
{% include header.html %}

<section class="grid capped-width mob-reverse">

    <div class="col-8_sm-12">

      <div>  {{page.intro_html}} </div>

      {% for image in page.images %}

      <img src='{{image}}'>

      {% endfor %}
    </div>
    <div class="col-4_sm-12 horiz-padded">
      <h3> No. {{page.number}} </h3>
      <h1> {{page.title}} </h1>

      <h3> <i class="fa fa-map-marker" aria-hidden="true"></i>  {{page.location}} </h3>
      {% for category in page.categories %}

      <a href="/project_archives/{{category | slugify }}" class="tag"> {{category}}</a> {% endfor %}

      {{content}}
    </div>
</section>
