---
title: Eyes of a Nomad
layout: default
---
{% include header.html %}

<section class="grid-top capped-width">

    <div class="col-8_sm-12 right">

      <span class="gallery-button" id="gallery-view">
        <img src="/images/icons/gallery-view.png">
      </span>
      <span class="gallery-button active" id="single-view">
          <img src="/images/icons/single-view.png">
      </span>

      {% if page.video == true %}
        <span class="gallery-button" id="video-button">
            <img src="/images/icons/video.png">
        </span>

        <div id="video-popup" class="embed-container"> {{page.intro_html}} </div>
      {% endif %}

      <div class="lightbox-gallery single-view" id="gallery-container">

        {% for image in page.images %}
        <a href="{{image}}">
          <img src='{{image}}'>
        </a>
        {% endfor %}

      </div><!-- end lightbox gallery -->
    </div><!-- end column -->
    <div class="col-4_sm-12 horiz-padded sticky mob-first">

      <!-- <h3> No. {{page.number}} </h3> -->
      <h1> {{page.title}} </h1>

      <!-- <h3> <i class="fa fa-map-marker" aria-hidden="true"></i>  {{page.location}} </h3> -->
      {% for category in page.categories %}

      <a href="/project_archives/{{category | slugify }}" class="tag"> {{category}}</a> {% endfor %}

      {{content}}

    </div>

</section>
<section class="bg-nude">

<h2 class="padded"> Related Projects </h2>
<div class="horizontal-scroll grid">

{% capture pageCategory %}{{ page.categories[0] }}{% endcapture %}
{% for project in site.projects reversed %}
  {% if project.categories contains pageCategory %}
  {% if project.url != page.url %}

      <a href="{{project.url}}" class="col-4_sm-7_xs-10 padded-2 centered">
        <div class="big-image padded" style="background-image:url({{project.image1_path}})"> </div>
        <h4> {{project.title}} </h4>
      </a>
    {% endif %}
    {% endif %}
  {% endfor %}
</div>
</section>
